.obsidian/workspace*.json
.obsidian/cache
.obsidian/plugins/obsidian-local-rest-api/data.json
__pycache__/
kos_sync.py
kos_capture_hub_backup.py
kos_capture_hub_backup_2.py
check_models.py
.obsidian/graph.json
